<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administrator Member Course Add Page</title>
    <style>
        .details table{
            width:100%;
            border-collapse: collapse;
        }

        .details table th, .details table td{
            border: solid 1px black;
        }

        .buttons {
            margin-top: 20px;
            text-align: center;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){

        });
    </script>
</head>
<body>
<h1>Administrator Member Course Add Page</h1>

<div th:replace="/fragments/layout.html :: fragment-admin-body-menu"></div>

<div class="details">
    <form method="post">
<table>
    <tbody>
    <tr>
        <th>
            COURSE CATEGORY
        </th>
        <td>
            <select name="categoryId">
                <option value="">select category</option>
                <option th:selected="${detail.categoryId == x.id}"
                        th:each="x : ${category}" th:value="${x.id}" th:text ="${x.categoryName}"></option>
            </select>
        </td>
    </tr>
    <tr>
        <th>
            COURSE NAME
        </th>
        <td>
            <input th:value="${detail.subject}" type="text" name="subject" required/>
        </td>
    </tr>
    <tr>
        <th>
            KEYWORD
        </th>
        <td>
            <input th:value="${detail.keyword}" type="text" name="keyword" required/>
        </td>
    </tr>
    <tr>
        <th>
            SUMMARY
        </th>
        <td>
            <textarea th:text="${detail.summary}" name="summary" required></textarea>
        </td>
    </tr>
    <tr>
        <th>
            CONTENTS
        </th>
        <td>
            <textarea th:text="${detail.contents}" name="contents" required></textarea>
        </td>
    </tr>
    <tr>
        <th>
            PRICE
        </th>
        <td>
            <input th:value="${detail.price}" type="text" name="price" required/>
        </td>
    </tr>
    <tr>
        <th>
            SALE PRICE
        </th>
        <td>
            <input th:value="${detail.salePrice}" type="text" name="salePrice" required/>
        </td>
    </tr>
    <tr>
        <th>
            SALE END DATE
        </th>
        <td>
            <input th:value="${detail.saleEndDt}" type="text" name="saleEndDtText"/>
        </td>
    </tr>



    </tbody>
</table>

    <div class="buttons">
        <button th:if="${editMode}" type="submit">course update</button>
        <button th:if="${!editMode}" type="submit">course register</button>
        <a href="/admin/course/list.do">course list</a>
    </div>
    </form>
</div>

</body>
</html>