<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administrator Member Course List Page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){

        });
    </script>
</head>
<body>
<h1>Administrator Member Course List Page</h1>

<div th:replace="/fragments/layout.html :: fragment-admin-body-menu"></div>

<div class="list">


</div>

</body>
</html>