<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find Password</title>
</head>
<body>
<h1>Find Password</h1>
<div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

<form method="post">
    <!-- name="username"으로 해야함! -->
    <div>
        <input type="email" name="userId" placeholder="Id(Email)" required/>
    </div>
    <div>
        <input type="text" name="userName" placeholder="Name" required/>
    </div>
    <div>
        <button type="submit">Password Setting</button>
    </div>

</form>
</body>
</html>