<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Member Password Setting</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            $('#submitForm').on('submit', function() {
                var $thisForm = $(this);

                var newPassword = $thisForm.find('input[name=NewPassword]').val();
                var newRePassword = $thisForm.find('input[name=NewRePassword]').val();

                if(newPassword != newRePassword) {
                    alert('신규 비밀번호와 신규 비밀번호 확인이 일치하지 않습니다.');
                    return false;
                }
            });

        });
    </script>
</head>
<body>
    <h1>Member Password Setting</h1>
    <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

    <div>
        <hr/>
        <a href="/member/info">회원 정보 수정</a>
        |
        <a href="/member/password">비밀번호 변경</a>
        |
        <a href="/member/takecourse">내 수강목록</a>
        <hr/>
    </div>


    <div>
        <form id="submitForm" method="post">
            <div>
                <input type="password" name="userPassword" placeholder="" required/>
            </div>
            <div>
                <input type="password" name="NewPassword" placeholder="" required/>
            </div>
            <div>
                <input type="password" name="NewRePassword" placeholder="" required/>
            </div>
            <div>
                <button type="submit">submit</button>
            </div>
        </form>
    </div>


</body>
</html>