<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>

        $(document).ready(function () {
            $('form').on('submit', function () {

                var password = $(this).find('input[name=userPassword]').val();
                var repassword = $(this).find('input[name=rePassword]').val();

                if(password != repassword) {
                    alert("Unmatch password & repassword");
                    return false;
                }
            });
        });

    </script>
</head>
<body>
<h1>Reset Password</h1>
<div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

<div th:if="${result}">
    <form method="post">

        <div th:text="${uuid}"></div>
        <div th:text="${resetPasswordInput}"></div>
        <div>
            <input type="password" name="userPassword" placeholder="Password" required/>
        </div>
        <div>
            <input type="password" name="rePassword" placeholder="rePassword" required/>
        </div>
        <div>
            <button type="submit">Password Resetting</button>
        </div>

    </form>
</div>
<div th:if="${result eq false}">
<p>Not validated.</p>
    <a href="/">main</a>
</div>



</body>
</html>