<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>fastlms</title>
</head>
<body>
<div th:fragment="fragment-body-menu">
    <div>
        <a href="/member/register">sign in</a>
        |
        <a href="/member/info">member info</a>
        |
        <a href="/course">course</a>
        |
        <a href="/member/login">log in</a>
        |
        <a href="/member/logout">log out</a>
    </div>
    <hr/>
</div>

<div th:fragment="fragment-admin-body-menu">
    <div>
        <a href="/admin/main.do">admin main</a>
        |
        <a href="/admin/member/list.do">member list</a>
        |
        <a href="/admin/category/list.do">category list</a>
        |
        <a href="/admin/course/list.do">course list</a>
        |
        <a href="/admin/takecourse/list.do">take course list</a>
        |
        <a href="/admin/banner/list.do">banner list</a>
        |
        <a href="/member/logout">log out</a>
    </div>
    <hr/>
</div>
</body>
</html>