<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administrator Member List Detail Page</title>

</head>
<body>
<h1>Administrator Member List Detail Page</h1>
<a href="/admin/main.do">Administrator Main</a>
|
<a href="/admin/member/list.do">member list</a>
|
<a href="#">category list</a>
|
<a href="#">member list</a>
|
<a href="/member/logout">log out</a>
<br/>
<hr/>

<div class="detail">
<div th:text="${member}"></div>
</div>
</body>
</html>