<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>index page</h1>
    <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>
<p>hello!</p>

<div class="home__slider">
    <div class="bxslider">
        <div>
            <a href="#"><img src="/files/2022/02/21/328e0b9bb003467eb7035193dbccdb53.jpg"/></a>
        </div>
        <div>
            <a href="#"><img src="/files/2022/02/21/328e0b9bb003467eb7035193dbccdb53.jpg"/></a>
        </div>
        <div>
            <a href="#"><img src="/files/2022/02/21/328e0b9bb003467eb7035193dbccdb53.jpg"/></a>
        </div>
    </div>
</div>
</body>
</html>